{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jest/recommended"],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "no-control-regex": "off",
    "react/destructuring-assignment": "off"
  }
}
